a
{   font-style: oblique;
    color:brown;
}
a:hover
{
    color:whitesmoke;
}
.banner
{   height: 50vh;
    width:100%;
    padding: 0;
    position: relative;
    margin: 0;
}
.main-img
{
height: 100%;
width: 100%;
object-fit: cover;
}
.block
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
  
}
.block p,h1
{
color: aliceblue;
font-weight: 300;
font-family: Arial, Helvetica, sans-serif;
font-style: oblique;
}
.block p
{
padding-left: 10%;
}
.block button
{
  margin-left: 30%;
  border: none;
  color: gray;
}
.footer
{
    background-color: gray;
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
   
   
}